
Here are all the videos that matched "<%= params[:q] %>"
<ul>
  <% @videos.each do |video| %>
    <li>
      Votes: <%= video.votes.where(:up => true).count - video.votes.where(:up => false).count %>

      <% if current_user && current_user.votes.where(:video_id => video.id, :up => true).present? %>
      *
      <% else %>
        <%= link_to "+", votes_path(:vote => {:video_id => video.id, :up => true}), :method => :post %>
      <% end %>


      <% if current_user && current_user.votes.where(:video_id => video.id, :up => false).present? %>
        *
      <% else %>
          <%= link_to "-", votes_path(:vote => {:video_id => video.id, :up => false}), :method => :post %>
      <% end %>

      <%= link_to video.artist, video.video_link %>
      <%= link_to "comments", video %>
    </li>
  <% end %>
  <%= will_paginate @videos %>
</ul>