<em><h2 class="legend">Comments<h2></em>

<div class="well">
  <% @video.comments.each do |comment| %>
    <em><h4><%= comment.text %></h4></em> <h6 class="offset1"><%=" says: #{comment.user_name}" %></h6>
  <% end %>
</div>

<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :text, :placeholder => "What do you think??", rows: 10, cols: 30 %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= f.hidden_field :video_id, :value => @video.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :user_name, :value => current_user.user_name %>    
    
  </div>
<% end %>