<em><h1><legend>Comments</h1></legend></em></legend>
<div class="pull-right">
<%=  raw youtube_embed(@video.video_link) %>
</div>

<div>
  <% @video.comments.each do |comment| %>
    <em><%= comment.text %></em> <h6><font color="red" size="1"><%=" says: #{comment.user_name}" %></font></h6>
  <% end %>
</div>

<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :text, :placeholder => "What do you think??", cols: 15 %>
  </div>
  <div class="actions">
    <%= f.submit nil, :class => 'btn-primary btn-mini' %>    
    <%= f.hidden_field :video_id, :value => @video.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :user_name, :value => current_user.user_name %>    
    
  </div>
<% end %>

