<ul class="nav">
  <li><%= link_to 'Artists', root_path %></li>
  <li><%= link_to 'Most Popular', page_path('about') %></li>
 
  <% if current_user %>
    <li><%= link_to 'Sign out', destroy_user_session_path, :method => "delete" %></li>
    <li><%= button_to 'Add a gem!', new_video_path, class: "btn btn-info btn-small", :style => "margin: 7px 0 0 0", :method => "get" %></li>
  <% else %>
    <li><%= link_to 'Sign in', new_user_session_path %></li>  
  <% end %>
</ul>

<%= form_tag(search_index_path, :method => "get",class: "pull-right", :style => "margin: 5px 0 0 0") do %>
  <%= text_field_tag(:q, nil, :placeholder => "search") %>
  <%= submit_tag("Search", :style => "margin: -9px 0 0 0", :class => "btn btn-small") %>
<% end %>                    



