<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hidden Gems" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Hidden Gems" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

 
  <body>

    <!-- NAVBAR=================== -->
    <div class="navbar-wrapper">
      <div class ="container">
        <header class="navbar navbar-fixed-top">
          <nav class="navbar-inner">
            <%= link_to "HiddenGe.ms", root_path, class: "brand" %>
            <%= render 'layouts/navigation' %>
          </nav>
        </header>  
      </div>  
    </div> 
  
    <!-- Hero Unit=================== -->
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="hero-unit">
            <strong><h1 style="color:white">Hidden Gems</h1></strong>
            <p>Tagline</p>
            <p><a class="btn btn-primary btn-large">Learn more</a></p>
          </div>
        </div> 
      </div>
    </div>

    <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>


