<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hidden Gems" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Hidden Gems" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container-fluid">    
      <div class="masthead">
        <div class="navbar navbar-inverse navbar-fixed-top">
          <nav class="navbar-inner">
            <%= link_to "HiddenGe.ms", root_path, class: "brand" %>
            <%= render 'layouts/navigation' %>
          </nav>
        </div>
      </div>  
      <main role="main">
        <div class="row">      
          <div class="span2">
          <ul class="well sidebar-nav">
            <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
            <li><a href="#"><i class="icon-book"></i> Library</a></li>
            <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
            <li><a href="#"><i class="i"></i> Misc</a></li>
          </ul>
        </div>
          <div class="span10">
            <div class="content">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          
          <footer>
          </footer>
        </div>
      </main>
      <div class="row">
      </div>
    </div>
    </div>    
  </body>
</html>
